<% if current_user %>
	<div class="search-bar">
			<%= form_tag search_files_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
			<p>
				<%= text_field_tag :search, params[:search], class: "form-control" %>
				<%= submit_tag "Search", name: nil, class: "btn btn-default" %>
			</p>
		<% end %>
	</div>
	<h3>My files:</h3>
	<p>...</p>
	<p>List files here.....</p>
	<p>...</p>
<% else %>
	<div class="jumbotron jumbo-custom">
		<h1>Filebox</h1>
		<p>Welcome to Filebox. The site where you can upload your files to!</p>
	</div>
	<div class="search-bar-custom">
		<%= form_tag search_files_path, method: :get, role: "search" do %>
			<p>
				<%= text_field_tag :search, params[:search], class: "form-control" %>
				<%= submit_tag "Search", name: nil, class: "btn btn-default" %>
			</p>
		<% end %>
	</div>
<% end %>